name: CI

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  checks:
    runs-on: amd-rx7600
    steps:
      - name: checkout
        uses: actions/checkout@v6
      # --------------------------------------------------------------------------------
      - name: Setup Rust
        uses: tracel-ai/github-actions/setup-rust@v8
        with:
          # We don't use caching because it seems that the cache does not work well
          # with our AMD runner, for example `cargo-audit` appears missing althought
          # it is correctly installed.
          enable-cache: false
          # No need to install anything, our self-hosted runner already have all it needs
          apt-packages: ""
      # --------------------------------------------------------------------------------
      - name: Audit
        run: xtask check audit
      # --------------------------------------------------------------------------------
      - name: Format
        shell: bash
        env:
          # work around for colors
          # see: https://github.com/rust-lang/rustfmt/issues/3385
          TERM: xterm-256color
        run: xtask check format
      # --------------------------------------------------------------------------------
      - name: Typos
        uses: tracel-ai/github-actions/check-typos@v8

  tests:
    needs: checks
    runs-on: amd-rx7600
    steps:
      - name: checkout
        uses: actions/checkout@v6
      # --------------------------------------------------------------------------------
      - name: Setup Rust
        uses: tracel-ai/github-actions/setup-rust@v8
        with:
          enable-cache: false
          apt-packages: ""
      # --------------------------------------------------------------------------------
      - name: Lint
        run: xtask check lint
      # --------------------------------------------------------------------------------
      - name: Unit Tests (default ROCm version)
        shell: bash
        run: xtask test unit
      # --------------------------------------------------------------------------------
      - name: Integration Tests (default ROCm version)
        shell: bash
        run: xtask test integration
      # --------------------------------------------------------------------------------
      - name: Documentation Tests
        shell: bash
        run: xtask doc tests
