name: CI

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  checks:
    runs-on: amd-rx7600
    steps:
      # We don't use our github-action because it seems that the cache does not work well
      # with our AMD runner.
      # cargo-audit is not found for example whereas it is correctly installed.
      - name: checkout
        uses: actions/checkout@v6
      - name: install rust
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt, clippy
          toolchain: stable
      # --------------------------------------------------------------------------------
      - name: Audit
        run: cargo xtask check audit
      # --------------------------------------------------------------------------------
      - name: Format
        shell: bash
        env:
          # work around for colors
          # see: https://github.com/rust-lang/rustfmt/issues/3385
          TERM: xterm-256color
        run: cargo xtask check format
      # --------------------------------------------------------------------------------
      - name: Typos
        uses: tracel-ai/github-actions/check-typos@v8

  tests:
    needs: checks
    runs-on: amd-rx7600
    steps:
      - name: checkout
        uses: actions/checkout@v6
      # --------------------------------------------------------------------------------
      - name: install rust
        uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt, clippy
          toolchain: stable
      # --------------------------------------------------------------------------------
      - name: Lint
        run: cargo xtask check lint
      # --------------------------------------------------------------------------------
      - name: Unit Tests (default ROCm version)
        shell: bash
        run: cargo xtask test unit
      # --------------------------------------------------------------------------------
      - name: Integration Tests (default ROCm version)
        shell: bash
        run: cargo xtask test integration
      # --------------------------------------------------------------------------------
      - name: Documentation Tests
        shell: bash
        run: cargo xtask doc tests
