name: Publish

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      dry-run-only:
        description: "Run xtask publish in dry-run mode (no publish)"
        type: boolean
        required: false
        default: false

jobs:
  cubecl-hip-sys:
    uses: tracel-ai/github-actions/.github/workflows/publish-crate.yml@v9
    with:
      runs-on: '"amd-rx7600"'
      crate: cubecl-hip-sys
      dry-run-only: ${{ github.event_name == 'workflow_dispatch' && inputs.dry-run-only || false }}
    secrets:
      CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
